<img src="/images/screen.png" alt="page" id="img">
<%= form_tag('/selenium/url', method: :post) do %> 
<label>URL:<input type="text" name="url" id="url"></label>
<input type="submit" value="送信">
<% end %>
