<% provide(:title, 'yuma4869.comについて | yuma4869') 
provide(:github,'https://github.com/yuma4869/Tool')%>
<style>
    .container h1 {
        text-align:center;
    }

    .wrap {
        border-top:10px solid rgba(255,255,255,0.5);
        padding-top:1em;
        margin-top:1em;
        text-align:center;
        line-height:1.5em;
    }
</style>
<div class="container">
    <h1>yuma4869.comとは</h1>
    <div class="wrap">
        <p>このサイトでは、無料で安心に使えるツールを公開しています<br>詐欺や悪意のあるサイトは一切なく無料で使用できます<br>そのことを立証するために、このサイトはオープンソースとなっております。<a class="deco-a" href="https://github.com/yuma4869">このサイトのコード</a><br>詳しくは<a class="deco-a" href="/security#policy">利用規約</a>をご覧ください</p>
    </div>
</div>
