<%
provide(:title,'セキュリティ | yuma4869')
provide(:description,'yuma4869.comのセキュリティ対策')
provide(:github,'https://github.com/yuma4869/Tool')
%>
<style>
.security {
    margin-top:2em;
    text-align:left;
}
.security h3, .security p {
    border-bottom:1px solid #444;
        padding:15px;
}
</style>
<div class="container">
<div id="policy">
<h1>利用規約 | yuma4869</h1>
<h2>この利用規約は2023/08/06から適用します</h2>
<h2>第一条</h2>
<p>本サービスによるいかなる損害も開発者は責任を負わないとする</p>
</div>
<div class="security">
<h1>yuma4869.comのセキュリティ対策</h1>
<h3>全体</h3>
<p>torからのアクセスを禁止</p>
<p>WAFの導入</p>
<h3>セッションハイジャック</h3>
<p>入力検証</p>
<p>logの監視</p>
<p>通信経路の暗号化（盗聴防止）</p>
<p>セッションIDの難読化 .etc</p>
</div>
</div>